<html>
<head>
    <meta charset="utf-8">
    <title>Immersive Reader Example: Document</title>
    <script type='text/javascript' src='http://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-0.0.1.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1 id="ir-title">Geography</h1>
    <span id="ir-text">
        <p> Ich habe keine Ahnung worum es geht. Ich liebe laufen. Ich esse gerne Eis. Ich esse Apfel.</p>
        <p>The study of Earth’s landforms is called physical geography. Landforms can be mountains and valleys. They can also be glaciers, lakes or rivers. Landforms are sometimes called physical features. It is important for students to know about the physical geography of Earth. The seasons, the atmosphere and all the natural processes of Earth affect where people are able to live. Geography is one of a combination of factors that people use to decide where they want to live.</p>
        <p>The physical features of a region are often rich in resources. Within a nation, mountain ranges become natural borders for settlement areas. In the U.S., major mountain ranges are the Sierra Nevada, the Rocky Mountains, and the Appalachians.</p>
        <p>Fresh water sources also influence where people settle. People need water to drink. They also need it for washing. Throughout history, people have settled near fresh water. Living near a water source helps ensure that people have the water they need. There was an added bonus, too. Water could be used as a travel route for people and goods. Many Americans live near popular water sources, such as the Mississippi River, the Colorado River and the Great Lakes.</p>
        <p>Mountains and deserts have been settled by fewer people than the plains areas. However, they have valuable resources of their own.</p>
    </span>

    <button onclick="handleLaunchImmersiveReader()">
        Immersive Reader
    </button>

    <script type='text/javascript'>
        const token = "@ViewBag.AccessToken";

        function handleLaunchImmersiveReader() {
            var text = $("#ir-text").text().trim();
            var title = $("#ir-title").text().trim();

            const data = {
                title: title,
                chunks: [ {
                    content: text,
                    lang: 'en'
                } ]
            };

            const options = {
                uiLang: "de",
                uiZIndex: 1000000
            }

            ImmersiveReader.launchAsync(token, data, options)
                .then(() => {
                    console.log('success');
                }, (error) => {
                    console.log('error! ' + error);
                });
        }
    </script>
</body>
</html>