@page
@model AdvancedSampleWebApp.Pages.MultiLangModel

<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Immersive Reader Example: Document</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script type='text/javascript' src='https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.1.0.js'></script>
    <script type='text/javascript' src='~/js/helpers.js'></script>

    <link href='~/css/styles.css' rel='stylesheet'>
    <link href='~/css/buttons.css' rel='stylesheet'>

    <script type='text/javascript'>
        var Canary = '@Html.Raw(ViewData["Canary"])';
    </script>

    <style type='text/css'>

        #ContentArea {
            margin: 0 auto;
            position: relative;
            width: 100%;
        }

        #IRContent {
            margin: 0 100px;
        }
    </style>
</head>
<body>
    <nav>
        Examples:
        <a href='/index'>Sections</a>
        <a href='/document'>Document</a>
        <a href='/multilang' class='active'>Multilingual Document</a>
        <a href='/uilangs'>UI Language</a>
        <a href='/math'>Math</a>
        <a href='/worddoc'>Word Document</a>
    </nav>

    <header class='ir-button-area' style='padding-left: 100px'>
        <div class='immersive-reader-button' data-button-style='iconAndText' onclick='handleLaunchImmersiveReader()'></div>
    </header>
    <main id='ContentArea'>
        <article id='IRContent'>
            <h1 id='IrTitle'>Multilingual Document</h1>
            <p id='IrText0' ir-lang='en-en'>
                Learning Tools Immersive Reader creates a reading experience that adds accessibility and comprehension for learners of all ages and abilities.
            </p>
            <p id='IrText1' ir-lang='en-en'>
                The Immersive Reader is available in many languages.
            </p>
            <p id='IrText2' ir-lang='es-es'>
                El Lector inmersivo está disponible en varios idiomas.
            </p>
            <p id='IrText3' ir-lang='fr-fr'>
                Le lecteur immersif est disponible dans de nombreuses langues.
            </p>
            <p id='IrText4' ir-lang='de-DE'>
                Der plastische Reader ist in vielen Sprachen verfügbar.
            </p>
        </article>
    </main>

    <script type='text/javascript'>
        async function handleLaunchImmersiveReader() {
            var title = $('#IrTitle').text().trim();

            var chunks = [];
            for (var i = 0; i < 5; i++) {
                var chunkP = $('#IrText' + i);
                var langChunkText = chunkP.text().trim();
                var chunkLang = chunkP.attr('ir-lang');

                chunks.push({
                    content: langChunkText,
                    lang: chunkLang
                });

                // Add a chunk of text to make a new line between chunks
                chunks.push({
                    content: '\n',
                    lang: 'en'
                });
            }

            const data = {
                title: title,
                chunks: chunks
            };

            const token = await getImmersiveReaderTokenAsync(Canary);
            const subdomain = await getImmersiveReaderSubdomainAsync();

            ImmersiveReader.launchAsync(token, subdomain, data);
        }
    </script>
</body>
</html>