@page
@model AdvancedSampleWebApp.Pages.UILangsModel

<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Immersive Reader Example: UI Langs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script type='text/javascript' src='https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.1.1.0.js'></script>
    <script type='text/javascript' src='~/js/helpers.js'></script>

    <link href='~/css/styles.css' rel='stylesheet'>
    <link href='~/css/buttons.css' rel='stylesheet'>

    <script type='text/javascript'>
        var Canary = '@Html.Raw(ViewData["Canary"])';
    </script>

    <style media='screen' type='text/css'>
        #ContentArea {
            display: block;
            margin: 0 20%;
            padding-top: 50px;
            width: 60%;
        }

        .section {
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-sizing: border-box;
            display: block;
            margin-bottom: 20px;
            padding: 20px 20px 10px 20px;
            position: relative;
            width: 100%;
        }

        #Cols {
            box-sizing: inherit;
            column-count: 1;
            column-gap: 0;
        }

        h3 {
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }

        p {
            line-height: 25px;
        }

        @@media screen and (min-width: 900px) {
            #Cols {
                column-gap: 20px;
                column-count: 2;
            }
        }
    </style>
</head>
<body class='body'>
    <nav>
        Examples:
        <a href='/index'>Sections</a>
        <a href='/document'>Document</a>
        <a href='/multilang'>Multilingual Document</a>
        <a href='/uilangs' class='active'>UI Language</a>
        <a href='/math'>Math</a>
        <a href='/worddoc'>Word Document</a>
    </nav>

    <main id='ContentArea'>
        <h1>You can specify your desired language for the UI!</h1>
        <p>If needed, the Immersive Reader's UI can be opened in a variety of languages. In order to change it, specify the language tag via the <code>uiLang</code> option</p>
        <h3>Examples:</h3><br />
        <section class='section' id='Sample1'>
            <div class='immersive-reader-button ir-button-small' onclick='handleLaunchImmersiveReader(1)'></div>
            Open UI with language tag: <input id='lang1' value='en' /> (i.e 'fr', 'es', 'de', 'zh')
            <h3 id='title1'>Geography</h3>
            <p id='text1'>The study of Earth's landforms is called physical geography. Landforms can be mountains and valleys. They can also be glaciers, lakes or rivers. Landforms are sometimes called physical features. It is important for students to know about the physical geography of Earth. The seasons, the atmosphere and all the natural processes of Earth affect where people are able to live. Geography is one of a combination of factors that people use to decide where they want to live.</p>
        </section>
        <div id='Cols'>
            <section class='section' id='Sample2'>
                <div class='immersive-reader-button ir-button-small' onclick='handleLaunchImmersiveReader(2)'></div>
                <h3 id='title2'>Water (open UI in Spanish - <span id='lang2'>es-es</span>)</h3>
                <p id='text2'>Fresh water sources also influence where people settle. People need water to drink. They also need it for washing. Throughout history, people have settled near fresh water. Living near a water source helps ensure that people have the water they need.</p>
            </section>
            <section class='section' id='Sample3'>
                <div class='immersive-reader-button ir-button-small' onclick='handleLaunchImmersiveReader(3)'></div>
                <h3 id='title3'>Mountain Ranges (open UI in German - <span id='lang3'>de</span>)</h3>
                <p id='text3'>The physical features of a region are often rich in resources. Within a nation, mountain ranges become natural borders for settlement areas. In the U.S., major mountain ranges are the Sierra Nevada, the Rocky Mountains, and the Appalachians.</p>
            </section>
        </div>
    </main>

    <script type='text/javascript'>
        async function handleLaunchImmersiveReader(sampleId) {
            const data = {
                title: $('#title' + sampleId).text().trim(),
                chunks: [{
                    content: $('#text' + sampleId).text().trim(),
                    lang: 'en'
                }]
            };

            var uiLangEl = $('#lang' + sampleId);
            var uiLang = uiLangEl.val() || uiLangEl.text();
            const options = {
                uiLang: uiLang
            }

            const token = await getImmersiveReaderTokenAsync(Canary);
            const subdomain = await getImmersiveReaderSubdomainAsync();

            ImmersiveReader.launchAsync(token, subdomain, data, options);
        }
    </script>
</body>
</html>