{{page-title "Immersive Reader Ember Sample"}}

<h1 style="margin-left: 20px;">Welcome to the Immersive Reader Ember Sample </h1>

<div style="margin-left: 20px;">
    {{#link-to "reader" class="button"}}
    Press me to go to the reader page!
    {{/link-to}}
</div>

{{outlet}}