<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Immersive Reader C# Quickstart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.0.0.3.js"></script>
    <!-- A polyfill for Promise is needed for IE11 support -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>

    <main>
        <div class="container">
            <div class="row" sample-id="1">
                <div class="col-lg">
                    <button class="immersive-reader-button float-right" data-button-style="iconAndText" data-locale="en"></button>

                    <h2 id="ir-title">About Immersive Reader</h2>

                    <div id="ir-content" lang="en-us">
                        <p>
                            Immersive Reader is a tool that implements proven techniques to improve reading comprehension for emerging readers, language learners, and people with learning differences.
                            The Immersive Reader is designed to make reading more accessible for everyone. The Immersive Reader
                            <ul>
                                <li>
                                    Shows content in a minimal reading view
                                </li>
                                <li>
                                    Displays pictures of commonly used words
                                </li>
                                <li>
                                    Highlights nouns, verbs, adjectives, and adverbs
                                </li>
                                <li>
                                    Reads your content out loud to you
                                </li>
                                <li>
                                    Translates your content into another language
                                </li>
                                <li>
                                    Breaks down words into syllables
                                </li>
                            </ul>
                        </p>
                        <p>
                            <h5>The Immersive Reader is available in many languages.</h5>
                        </p>
                        <p lang="es-es">
                            El Lector inmersivo está disponible en varios idiomas.
                        </p>
                        <p lang="zh-cn">
                            沉浸式阅读器支持许多语言
                        </p>
                        <p lang="de-de">
                            Der plastische Reader ist in vielen Sprachen verfügbar.
                        </p>
                        <p style="text-align:right" lang="ar-eg">
                            القارئ الشامل\" في العديد من اللغات
                        </p>
                    </div>

                    <hr />
                    <h5>The Immersive Reader button is available in many languages and styles.</h5>
                    <div class="row">
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="icon" data-locale="en"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="icon" data-icon-px-size="50" data-locale="en"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="text" data-locale="en"></button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="es-es"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="zh-cn"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="ar-eg"></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        $(".immersive-reader-button").click(function () {
            handleLaunchImmersiveReader();
        });

        function handleLaunchImmersiveReader() {
            getTokenAndSubdomainAsync()
                .then(function (response) {
                    const token = response["token"];
                    const subdomain = response["subdomain"];

                    const data = {
                        title: $("#ir-title").text(),
                        chunks: [{
                            content: $("#ir-content").html(),
                            mimeType: "text/html"
                        }]
                    };

                    const options = {
                        "onExit": exitCallback
                    };

                    ImmersiveReader.launchAsync(token, subdomain, data, options)
                        .catch(function (error) {
                            alert("Error in launching the Immersive Reader. Check the console.");
                            console.log(error);
                        });
                })
                .catch(function (error) {
                    alert("Error in getting the Immersive Reader token and subdomain. Check the console.");
                    console.log(error);
                });
        }

        function exitCallback() {
            console.log("This is the callback function. It is executed when the Immersive Reader closes.");
        }

        function getTokenAndSubdomainAsync() {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: "@Url.Action("GetTokenAndSubdomain", "Home")",
                    type: "GET",
                    success: function (data) {
                        if (data.error) {
                            reject(data.error);
                        } else {
                            resolve(data);
                        }
                    },
                    error: function (err) {
                        reject(err);
                    }
                });
            });
        }
    </script>
</body>
</html>