<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Immersive Reader C# Quickstart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://contentstorage.onenote.office.net/onenoteltir/immersivereadersdk/immersive-reader-sdk.0.0.3.js"></script>
    <!-- A polyfill for Promise is needed for IE11 support -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>

    <main>
        <div class="container">
            <div class="row border border-dark rounded" sample-id="1">
                <div class="col-lg">
                    <button class="immersive-reader-button float-right" data-button-style="iconAndText" data-locale="en" onclick="handleLaunchImmersiveReader(1)"></button>

                    <h2 class="ir-title">What is Immersive Reader?</h2>
                    <div class="ir-content" lang="en-us">
                        <p>The Immersive Reader is an inclusively designed tool that implements proven techniques to improve reading comprehension for emerging readers, language learners, and people with learning differences such as dyslexia.</p>
                        <p>You can use Immersive Reader in your web application by using the Immersive Reader SDK.</p>
                        <p>Click on the Immersive Reader buttons on this page to open the Immersive Reader.</p>
                        <h3>What does Immersive Reader do?</h3>
                        <p>The Immersive Reader is designed to make reading more accessible for everyone.</p>
                        <ul>
                            <li>Shows content in a minimal reading view</li>
                            <li>Displays pictures of commonly used words</li>
                            <li>Highlights nouns, verbs, adjectives, and adverbs</li>
                            <li>Reads your content out loud to you</li>
                            <li>Translates your content into another language</li>
                            <li>Breaks down words into syllables</li>
                        </ul>
                        <h3>How does Immersive Reader work?</h3>
                        <p>
                            The Immersive Reader is a standalone web app that, when invoked using the Immersive Reader JavaScript SDK, is displayed on top of your existing web app via an iframe. 
                            When you call the API to launch the Immersive Reader, you specify the content you wish to show in the Immersive Reader. 
                            Our SDK handles the creation and styling of the iframe and communication with the Immersive Reader backend service, which processes the content for parts of speech, text to speech, translation, and so on.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg mr-1 border border-dark rounded" sample-id="2">
                    <button class="immersive-reader-button float-right" data-button-style="icon" data-locale="en" onclick="handleLaunchImmersiveReader(2)"></button>

                    <h2 class="ir-title">Multilingual Text</h2>

                    <div class="ir-content">
                        <p lang="en-en">
                            The Immersive Reader is available in many languages.
                        </p>
                        <p lang="es-es">
                            El Lector inmersivo está disponible en varios idiomas.
                        </p>
                        <p lang="fr-fr">
                            Le lecteur immersif est disponible dans de nombreuses langues.
                        </p>
                        <p lang="de-de">
                            Der plastische Reader ist in vielen Sprachen verfügbar.
                        </p>
                    </div>
                </div>
                <div class="col-lg ml-1 col-md-offset-2 border border-dark rounded" sample-id="3">
                    <h2 class="ir-title">Button Customization</h2>
                    <div class="row">
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="icon" data-locale="en" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="icon" data-icon-px-size="50" data-locale="en" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="text" data-locale="en" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="en" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="fr-fr" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                        <span class="col-sm">
                            <button class="immersive-reader-button" data-button-style="iconAndText" data-locale="de-de" onclick="handleLaunchImmersiveReader(3)"></button>
                        </span>
                    </div>

                    <div class="ir-content">You can render the Immersive Reader button in a variety of styles and languages.</div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        function handleLaunchImmersiveReader(sampleId) {
            getTokenAndSubdomainAsync().then(function (response) {
                const token = response["token"];
                const subdomain = response["subdomain"];

                const sampleDiv = $(`div[sample-id=${sampleId}]`);

                const data = {
                    title: sampleDiv.find(".ir-title").text(),
                    chunks: [{
                        content: sampleDiv.find(".ir-content").html(),
                        mimeType: "text/html"
                    }]
                };

                const options = {
                    "onExit": exitCallback
                };

                ImmersiveReader.launchAsync(token, subdomain, data, options)
                    .catch((error) => {
                        alert("Error in launching the Immersive Reader. Check the console.");
                        console.log(error);
                    });
            })
            .catch(function (err) {
                alert("Error in getting the Immersive Reader token and subdomain. Check the console.");
                console.log(err);
            });
        }

        function exitCallback() {
            console.log("This is the callback function.");
        }

        function getTokenAndSubdomainAsync() {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: "@Url.Action("GetTokenAndSubdomain", "Home")",
                    type: "GET",
                    success: function (data) {
                        if (data.error) {
                            reject(data.error);
                        } else {
                            resolve(data);
                        }
                    },
                    error: function (err) {
                        reject(err);
                    }
                });
            });
        }
    </script>
</body>
</html>